<% include partials/member_header.ejs %>


<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <img src="/public/img/profile-placeholder.png" id="homeProfilePic" />
      <h1>
        <!-- username -->
      </h1>
      <p id="lastLogin">
        <!-- last_login -->
      </p>
      <h2>Tutor Profile</h2>

      <!-- username -->
    <table>
      <tr>
        <td class="profileHeading"> Username:</td>
        <td style="vertical-align: center;"> <%= tutor[0].user_name%></td>
      </tr>
    
      <!-- full_name -->
      <tr>
        <td class="profileHeading">Name:</td>
        <td> <%= full_name %></td>
      </tr>
          <!-- DOB -->
          <tr>
            <td class="profileHeading">Date of Birth:</td>
            <td> <%= tutor[0].dob %></td>
          </tr>

          <tr>
          <!-- location -->
            <td class="profileHeading">Location:</td>
            <td ><%= tutor[0].city %></td>
          </tr>

          <tr>
            <td class="specialtyHeading"> Specialty: </td>
            <td> <%= tutor[0].speciality %> </td>
          </tr>
        </table>

      <button id="editProfile" type="button" class="btn btn-success">Edit Profile</button>
      

        <!-- upcoming_sessions -->
      </div>
    </div>
    <div class="col-lg-6">
        <div id="requested_sessions">
            <h3 id="requestedHeading">Requested Sessions</h3>
            <table>
              <thead>
              <tr>
                <th>Subject</th>
                <th>Topic</th>
                <th>Description</th>
                <th>Start Time </th>
                <th> End Time </th>
              </tr>
              </thead>

              <tbody>
              <% requestedSessions.forEach((session, index) => { %>
              <tr>
                <td><%=session.subject %></td>
                <td><%=session.topic %></td>
                <td><%= session.description %></td>
                <td><%= session.start_time %>    </td>
                <td><%= session.end_time %>   </td>
              </tr>
              <%  }); %>
            </tbody>
            </table>
        <table id="requested_sessions">
         
            <h4>History</h4>
            <tr>
              <th>Date</th>
              <th>Tutor</th>
              <th>Subject</th>
              <th>Rating</th>
            </tr>
            <tr> 
              <td> 11/11/2019 </td>
              <td> Manpreet Saini </td>
              <td> Physics </td>
              <td>   4 stars      </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<% include partials/footer.ejs %>

