<% include partials/member_header.ejs %>


<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <img src="/public/img/profile-placeholder.png" id="homeProfilePic" />
      <h1>
        <!-- username -->
      </h1>
      <p id="lastLogin">
        <!-- last_login -->
      </p>
      <h2>Tutor Profile</h2>

      <!-- username -->
    <table>
      <tr>
        <td class="profileHeading"> Username:</td>
        <td style="vertical-align: center;"> <%= tutor[0].user_name%></td>
      </tr>
    
      <!-- full_name -->
      <tr>
        <td class="profileHeading">Name:</td>
        <td> <%= full_name %></td>
      </tr>
          <!-- DOB -->
          <tr>
            <td class="profileHeading">Date of Birth:</td>
            <td> <%= tutor[0].dob %></td>
          </tr>

          <tr>
          <!-- location -->
            <td class="profileHeading">Location:</td>
            <td ><%= tutor[0].city %></td>
          </tr>

          <tr>
            <td class="specialtyHeading"> Specialty: </td>
            <td> <%= tutor[0].speciality %> </td>
          </tr>

          <tr>
        </tr>
        </table>

      <button id="editProfile" type="button" class="btn btn-success">Edit Profile</button>
      

        <!-- upcoming_sessions -->
      </div>
    </div>
    <div class="col-lg-6">
        <div id="requested_sessions">
            <h3 id="requestedHeading">Requested Sessions</h3>
            <table>
              <thead>
              <tr>
                <th>Subject</th>
                <th>Topic</th>
                <th>Description</th>
                <th>Start Time </th>
                <th> End Time </th>
                <th> Accept? </th>
                <th> Reject? </th>
                <th> Personally Requested? </th>
              </tr>
              </thead>
              <tbody>
              <% requestedSessions.forEach((session, index) => { %>
                            <% console.log(tutor[0].tutor_id) %>

              <tr>
                <td><%=session.subject %></td>
                <td><%=session.topic %></td>
                <td><%= session.description %></td>
                <td><%= session.start_time %>    </td>
                <td><%= session.end_time %>   </td>
                
                <td>
                        <form action="/acceptRequest" method="POST">      
                            <input  type="radio" class="hiddenId" name="tutorID" checked='true' value="<%= tutor[0].tutor_id %>""> </input>
                            <button type="submit" class="btn btn-primary" name="accept"  value="<%= session.request_id %>" >  Accept </button> </td>
                        </form>
                </td>
                <td>
                        <form action="/rejectRequest" method="POST">    
                            <input class="hiddenId" type="radio" checked='true' name="tutorID" value="<%= tutor[0].tutor_id %>"> </input>
                            <button type="submit" class="btn btn-danger" name="reject" value="<%= session.request_id %>" > Reject </button> 
                        </form>
                </td>
                            <td> <% if (session.tutor_id === undefined) {%> <%="No" %> <%} else {%> <%= "Yes" %> <%}%> </td> 
                </tr>
              <%  }); %>

              
            </tbody>
            </table>
        <table id="accepted_sessions">
         
            <h4>Accepted Requests</h4>
            <thead>
            <tr>
              <th>Student</th>
              <th>Subject</th>
              <th>Topic</th>
              <th>Description</th>
              <th>Start Time</th>
            </tr>
            </thead>
            <tbody>
                <% acceptedSessions.forEach((session, index) => { %>
            <tr> 
              <td> <%= session.first_name %></td>
              <td> <%= session.subject %> </td>
              <td> <%= session.topic %></td>
              <td> <%= session.description %></td>
              <td> <%= session.start_time %> </td>
            </tr>
            <%  }); %>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>
<% include partials/footer.ejs %>

