<% include partials/other_header.ejs %>


<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <img src="<% if (tutor[0].image === null) {%> /img/profile-placeholder.png <%} else { %> <%= tutor[0].image %>  <%}%>" id="homeProfilePic" />
            <h1>
                <!-- username -->
            </h1>
            <p id="lastLogin">
                <!-- last_login -->
            </p>
            <h2>Tutor Profile</h2>
        </div>

        <!-- username -->
        <div>
            <table>
                <tr>
                    <td class="profileHeading"> Username:</td>
                    <td style="vertical-align: center;"> <%= tutor[0].user_name%></td>
                </tr>

                <!-- full_name -->
                <tr>
                    <td class="profileHeading">Name:</td>
                    <td> <%= full_name %></td>
                </tr>
                <!-- DOB -->
                <tr>
                    <td class="profileHeading">Date of Birth:</td>
                    <td> <%= tutorDOB %></td>
                </tr>

                <tr>
                    <!-- location -->
                    <td class="profileHeading">Location:</td>
                    <td><%= tutor[0].city %></td>
                </tr>

                <tr>
                    <td class="specialtyHeading"> Specialty: </td>
                    <td> <%= tutor[0].speciality %> </td>
                </tr>

                <tr>
                  <td class="descriptionHeading"> About Me: </td>
                  <td> <%= tutor[0].description %> </td>
                </tr>

                <tr>
                    <div>
                        <td class="profileHeading" id="tutorAverageRating">Average Rating:</td>
                        <td><%= average_rating%></td>
                    </div>
                </tr>
            </table>
        </div>

        <form action="/editProfile" method="POST">
            <input class="hiddenId" type="radio" checked='true' name="tutor_id" value="<%= tutor[0].tutor_id %>">
            </input>
            <button id="editProfile" type="submit" class="btn btn-success">Edit Profile</button>
        </form>


    </div>

    <!-- <form action="/tutorlogout" method="GET">
            <button type="submit" class="btn btn-primary"> Logout </button>
        </form> -->
    <!-- upcoming_sessions -->
</div>


<div class="container">
    <div id="requested_sessions">
        <h3 id="requestedHeading">Requested Sessions</h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Subject</th>
                    <th scope="col">Topic</th>
                    <th scope="col">Description</th>
                    <th scope="col">Start Time </th>
                    <th scope="col"> End Time </th>
                    <th scope="col"> Accepted </th>
                    <th scope="col"> Rejected </th>
                    <th scope="col"> Personally Requested </th>
                </tr>
            </thead>
            <tbody>
                <% requestedSessions.forEach((session, index) => { %>
                <tr>
                    <td><%=session.subject %></td>
                    <td><%=session.topic %></td>
                    <td><%= session.description %></td>
                    <td><%= session.start_time %> </td>
                    <td><%= session.end_time %> </td>

                    <td>
                        <form action="/acceptRequest" method="POST">
                            <input type="radio" class="hiddenId" name="tutorID" checked='true'
                                value="<%= tutor[0].tutor_id %>"> </input>
                            <input type="checkbox" name="accept" class="hiddenId" checked
                                value="<%= session.request_id %>"> </input>
                            <button type="submit" class="btn btn-primary"> Accept </button>
                        </form>
                    </td>
                    <td>
                        <form action="/rejectRequest" method="POST">
                            <input class="hiddenId" type="radio" checked='true' name="tutorID"
                                value="<%= tutor[0].tutor_id %>"> </input>
                            <input type="checkbox" name="reject" class="hiddenId" checked
                                value="<%= session.request_id %>"> </input>
                            <button type="submit" class="btn btn-danger"> Reject </button>
                        </form>
                    </td>
                    <td> <% if (session.tutor_id === null) {%> <%="No" %> <%} else {%> <%= "Yes" %> <%}%> </td> 
                </tr>
              <%  }); %>


            </tbody>
        </table>
        <table class="table" id="accepted_sessions">

            <h4>Accepted Requests</h4>
            <thead>
                <tr>
                    <th>Student</th>
                    <th>Subject</th>
                    <th>Topic</th>
                    <th>Description</th>
                    <th>Start Time</th>
                </tr>
            </thead>
            <tbody>
                <% acceptedSessions.forEach((session, index) => { %>
                <tr>
                    <td> <%= session.first_name %></td>
                    <td> <%= session.subject %> </td>
                    <td> <%= session.topic %></td>
                    <td> <%= session.description %></td>
                    <td> <%= session.start_time %> </td>
                </tr>
                <%  }); %>
            </tbody>
        </table>

        <h4>History</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Student</th>
                    <th>Topic</th>
                    <th>Date</th>
                    <th>Rating</th>
                </tr>

            </thead>
            <tbody>
                <% pastSessions.forEach((session, index) => { %>
                <tr>
                    <td><%= session.name %> </td>
                    <td><%= session.topic %> </td>
                    <td><%= session.date %> </td>
                    <td><% if(session.rating === null) {%> <form
                            action="/studentRating/<%= session.session_id %>/<%= session.name %>" method="GET">
                            <button type="submit" class="btn btn-primary"> Give Review </button> </form><%} else {%>
                        <%= session.rating %> <% }%> </td>
                </tr>
                <%  }); %>
            </tbody>
        </table>

    </div>
</div>
</div>
</div>
</div>
<% include partials/footer.ejs %>